<ion-header>
    <ion-toolbar>
        <ion-item>
            <ion-icon name="leaf-outline"></ion-icon>
            <ion-title>Brauerei Metzger</ion-title>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-lg="4" offset-lg="4">
                <div class="form">
                    <ion-item class="input">
                        <ion-label position="stacked">Email</ion-label>
                        <ion-input type="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" inputmode="email" clear-input="true" [(ngModel)]="email"></ion-input>
                    </ion-item>
                    <ion-item class="input">
                        <ion-label position="stacked">Password</ion-label>
                        <ion-input clear-input="true" type="password" [(ngModel)]="password"></ion-input>
                    </ion-item>
                    <ion-button color="primary" class="input" (click)="login()" expand="block">
                        <ion-icon slot="start" name="log-in-outline"></ion-icon>
                        <ion-label>Login</ion-label>
                    </ion-button>
                    <br />
                    <h5 (click)="signup()">
                        Don't have an account?
                        <ion-text color="primary">Sign up here</ion-text>
                    </h5>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>